---
version: 2.1

executors:
  trailing-whitespace:
    docker:
      - image: ghcr.io/docker-images-mamono210/circleci-executors/trailing-whitespace:latest
    resource_class: small

orbs:
  ansible-lint: orbss/ansible-lint@0.0.3
  aws-cli: circleci/aws-cli@3.1.1
  molecule-ec2: orbss/molecule-ec2@0.0.4
  yamllint: orbss/yamllint@0.0.4

jobs:
  ansible-lint:
    executor: ansible-lint/default
    steps:
      - checkout
      - ansible-lint/execute:
          molecule-role-test: true
  molecule-env:
    executor: molecule-ec2/default
    parameters:
      scenario-name:
        type: string
    working_directory: ~/molecule_test_ec2
    steps:
      - checkout
      - aws-cli/setup:
          role-arn: ${AWS_ROLE_ARN}
          role-session-name: "circleci_molecule-ec2-test_profile_<< parameters.scenario-name >>"
          session-duration: '1800'
      - molecule-ec2/execute:
          aws-ami-name: "centos7-1*"
          aws-ami-owner-id: "808683561341"
          aws-resource-name: "molecule_development-environment_<< parameters.scenario-name >>"
          aws-vpc-subnet-id: "subnet-022a704b3061b8b39"
          circleci-timeout: "15m"
          molecule-scenario-name: "<< parameters.scenario-name >>"
  molecule-profile:
    executor: molecule-ec2/default
    parameters:
      scenario-name:
        type: string
    working_directory: ~/molecule_test_ec2
    steps:
      - checkout
      - aws-cli/setup:
          profile-name: molecule
          role-arn: ${AWS_ROLE_ARN}
          role-session-name: "circleci_molecule-ec2-test_profile_<< parameters.scenario-name >>"
          session-duration: '1800'
      - run:
          name: Set profile name to CircleCI environment variable
          command: |
            echo "export AWS_PROFILE=molecule" >> $BASH_ENV
            echo "export AWS_ACCESS_KEY_ID=" >> $BASH_ENV
            echo "export AWS_SECRET_ACCESS_KEY=" >> $BASH_ENV
            echo "export AWS_SESSION_TOKEN=" >> $BASH_ENV
            source $BASH_ENV
      - molecule-ec2/execute:
          aws-ami-name: "centos7-1*"
          aws-ami-owner-id: "808683561341"
          aws-resource-name: "molecule_development-environment_<< parameters.scenario-name >>"
          aws-vpc-subnet-id: "subnet-022a704b3061b8b39"
          circleci-timeout: "15m"
          molecule-scenario-name: "<< parameters.scenario-name >>"
  trailing-whitespace:
    executor: trailing-whitespace
    steps:
      - checkout
      - run:
          name: Execute trailing-whitespace
          command: trailing-whitespace
  yamllint:
    executor: yamllint/default
    steps:
      - checkout
      - yamllint/execute

workflows:
  version: 2.1
  build:
    jobs:
      - trailing-whitespace
      - yamllint:
          requires:
            - trailing-whitespace
      - ansible-lint:
          requires:
            - yamllint
      - molecule-env:
          context: aws-oidc
          matrix:
            parameters:
              scenario-name:
                - "ami_name_test"
                - "ami_id_test"
          requires:
            - ansible-lint
      - molecule-profile:
          context: aws-oidc
          matrix:
            parameters:
              scenario-name:
                - "ami_name_test"
                - "ami_id_test"
          requires:
            - ansible-lint
